# Introduction to Pandas

This is a brief introduction to the `pandas` library in Python for working with datasets as pandas Data Frames. GSB 544 will cover Python for data science, including `pandas`, in much more detail.

## Tabular Data

What does data look like? For most people, the first image that comes to mind is a spreadsheet, where each row represents something for which information is being measured and each column a type of measurement. This stereotype exists for a reason; many real-world data sets can indeed be organized this way. Data that can be represented using rows and columns is called **tabular data**. The rows are also called **observations** or **records**,  while the columns are called **variables** or **fields**. The different terms reflect the diverse communities within data science, and their origins are summarized in the table below.

|                     | Rows           | Columns     |
|---------------------|----------------|-------------|
| Statisticians       | "observations" | "variables" |
| Computer Scientists | "records"      | "fields"    |

The table below is an example of a
data set that can be represented in tabular form.
This is a sample of user profiles in the
San Francisco Bay Area from the online dating website
OKCupid. In this case, each observation is an OKCupid user, and the variables include age, body type, height, and
(relationship) status. Although a
data table can contain values of all types, the
values within a column are typically all of the same
type---the age and height columns store
numbers, while the body type and
status columns store strings. Some values may be missing, such as body type for the first user
and diet for the second.

| age | body type |        diet       | ... | smokes | height | status |
|-----|-----------|-------------------|-----|--------|--------|--------|
| 31  |           | mostly vegetarian | ... |   no   |   67   | single |
| 31  |  average  |                   | ... |   no   |   66   | single |
| 43  |   curvy   |                   | ... | trying to quit | 65 | single |
| ... |    ...    |       ...         | ... |  ...   |  ...   | ... |
| 60  |    fit    |                   | ... |   no   |   57   | single |

## Pandas

Tabular data is essential for doing data science. But a structure for tabular data is not built into Python, so we need to import a library. That library is [Pandas](https://pandas.pydata.org/), which essentially does one thing---define a data structure called a `DataFrame` for storing tabular data. But this data structure is so fundamental to data science that importing `pandas` is the very first line of many Colab notebooks and Python scripts.

Let's import `pandas`. The standard abbreviation for Pandas is `pd`.

In [ ]:
import pandas as pd

Many data sets are stored as files on disk, such as in **comma-separated values (CSV)** files [like this](https://raw.githubusercontent.com/kevindavisross/msba-workshop/refs/heads/main/cereals.csv). How do we get data into a `pandas` `DataFrame`? Pandas provides a function called `read_csv()` for reading in files in CSV format.

## Reading in Data from a URL

If the data file already lives on the Internet, then you can simply pass in the URL to `read_csv()`. We'll use a [data set](https://www.kaggle.com/datasets/crawford/80-cereals) where each row is a breakfast cereal.

In [ ]:
df_cereals = pd.read_csv("https://raw.githubusercontent.com/kevindavisross/msba-workshop/refs/heads/main/cereals.csv")

Calling the data frame will display the first few and last few rows and columns.

In [ ]:
df_cereals

The `columns` method returns the column names.

In [ ]:
df_cereals.columns

Now we'll see how to use Pandas to perform some basic data science operations on a data set.

## Selecting Columns

You can select a single column by name

In [ ]:
df_cereals["calories"]

Or select multiple columns by passing a list of names

In [ ]:
df_cereals[["name", "rating", "calories", "mfr"]]

## Mutating: Adding Columns

We can create new columns from existing columns. For example, `sodium` is measured in milligrams but let's convert to grams.

In [ ]:
df_cereals["sodium"] / 1000

We can save new columns in the data frame

In [ ]:
df_cereals["sodium_g"] = df_cereals["sodium"] / 1000

df_cereals

We can also create new columns from multiple columns. Column operations are "vectorized" and applied row by row.

In [ ]:
df_cereals["calories_per_cup"] = df_cereals["calories"] / df_cereals["cups"]

df_cereals

## Sorting (Arranging) Rows

We can sort (arrange) rows by the values in one or more columns.

In [ ]:
df_cereals.sort_values(by = "calories")

Note that sorting does NOT change the order of the data frame.

In [ ]:
df_cereals

If we want to save the sort order we can assign the sorted data frame to an object with either a new name, or the current name if we want to overwrite the originaldata frame. Below we sort first by `mfr` then by `calories_per_cup` within each value of `mfr`. (We're not going to worry about the index (the numbers on the left) in this tutorial.)

In [ ]:
df_cereals = df_cereals.sort_values(by = ["mfr", "calories_per_cup"])

df_cereals

## Filtering Rows

Choosing a subset of rows is called filtering. Usually we filter to obtain rows that satisfy some condition.

The standard way to filter a `DataFrame` is to use a "boolean mask", a column of booleans (i.e., True/False values). The easiest way to create a boolean mask is to use one of the standard comparison operators `==`, `<`, `>`, and `!=` (not equal) on an existing column in the `DataFrame`. For example, the following code produces a boolean mask that is equal to `True` if `mfr` is "G" and `False` otherwise.

In [ ]:
df_cereals["mfr"] == "G"

Notice that logical equality `==` is being applied in a vectorized way, row by row.

Now, we can use the boolean mask as a filter on the `DataFrame` to extract the rows where the mask equals `True`.

In [ ]:
df_mfr_G = df_cereals[df_cereals["mfr"] == "G"]

df_mfr_G

We can filter based on multiple conditions using logical operators like `&` (and) or `|` (or).

In [ ]:
df_cereals[(df_cereals["mfr"] == "G") & (df_cereals["calories"] > 125)]

In [ ]:
df_cereals[(df_cereals["mfr"] == "G") | (df_cereals["calories"] > 125)]

We can filter rows and select columns simultaneously.

In [ ]:
df_cereals[df_cereals["mfr"] == "G"][["name", "mfr", "calories"]]

## Summarizing

We can summarize a single column using descriptive statistics like `mean` (average) or `std` (standard deviation).

In [ ]:
df_cereals["calories"].mean()

In [ ]:
df_cereals["calories"].std()

We can summarize multiple columns

In [ ]:
df_cereals[["calories", "calories_per_cup"]].mean()

The `describe` method provides a quick summary.

In [ ]:
df_cereals["calories"].describe()

In [ ]:
df_cereals[["calories", "calories_per_cup"]].describe()

`describe` returns different summary statistics depending on whether the variable is categorical or numerical.

In [ ]:
df_cereals["mfr"].describe()

For categorical variables `value_counts` provides a summary of values and their frequencies

In [ ]:
df_cereals["mfr"].value_counts()

`value_counts` also makes sense for discrete numerical variables that take a small set of possible values.

In [ ]:
df_cereals["protein"].value_counts()

Notice that the levels are sorted in decreasing order of frequency by default. We can sort by the values of the variable using `sort_index`.

In [ ]:
df_cereals["mfr"].value_counts().sort_index()

In [ ]:
df_cereals["protein"].value_counts().sort_index()

## Groupby

We often want to create summaries within groups. We can achieve this using `groupby`

In [ ]:
df_cereals.groupby("mfr")["calories"].mean()

In [ ]:
df_cereals.groupby("mfr")["calories"].describe()

We can `groupby` multiple variables.

In [ ]:
df_cereals.groupby(["mfr", "type"])["calories"].describe()

## Reading in Data from a File on your Computer

If you instead want to read in a data file on your computer, you can pass in the path to the file (e.g., `"/home/data/mydata.csv"`) to `read_csv()`.

There's just one catch. Colab is a cloud service; it can't read files on your computer. In order to read in a data file from Colab, you have to upload the file to the Colab file system.

Instructions:

1. Click on the folder icon in the left toolbar. This will open up a pane that allows you to interact with the Colab file system.
2. Click on the upload icon and find the file that you want to upload.

Now the data file is on the Colab file system, so we can read it in using `read_csv()`. By default, files get uploaded to `/content/`. If you get a `FileNotFoundError`, double check where you uploaded the file.

In [ ]:
# You'll need to first ownload the cereals.csv file from:
# https://github.com/kevindavisross/msba-workshop/blob/main/cereals.csv
# Once it is on your computer, you can upload the file to Colab using the instructions above


df_cereal = pd.read_csv("/content/cereals.csv")

df_cereal

## Exercises

A frequently used example data set is the Ames housing data set which consists of residential properties in Ames, Iowa from 2006 to 2010. For more information about the variables in this data set, please refer to the [data documentation](https://jse.amstat.org/v19n3/decock/DataDocumentation.txt).

There are a few ways to do each of the exercises below, but **the answer to each should be a single line of code, using the data science operations introduced above as much as possible**. (If you're using for loops or writing Python functions or using Python lambdas, you're overcomplicating it.)

Read in the data set from: https://raw.githubusercontent.com/kevindavisross/data301/main/data/AmesHousing.txt.

Note: First click on the link and look at the file. The data set is stored in a tab-separated values file, rather than a CSV. We can still use `read_csv`, but we need to specify the delimiter (tab rather than comma) with the argument `sep="\t"`.

In [ ]:
# your code here

Note that only certain columns are displayed. What are all the columns?

In [ ]:
# your code here

Create a new data frame with just the columns `Neighborhood`, `Lot Area`, `Gr Liv Area`, `Yr Sold`,  and `SalePrice`.

In [ ]:
# your code here

`Lot Area` is measured in acres; convert it to square feet; replace the existing values (in acres). Note: there 43560 square feet in an acre.

In [ ]:
# your code here

`Gr Liv Area` is the square footage of the house. Create a `Price per Sqft` variable.

In [ ]:
# your code here

Sort the data frame by `SalePrice` within `Neighborhood` and save the sorted data frame.

In [ ]:
# your code here

Create a data frame with just the houses sold in 2010.

In [ ]:
# your code here

Create a data frame with just the houses sold in 2010 with sale price less than 200,000.

In [ ]:
# your chode here

Find the mean sale price for all the houses.

In [ ]:
# your code here

Find descriptive statistics for the variables sale price, lot area, square footage, and price per sqft.

In [ ]:
# your code here

Find how many houses were sold in each year, sorted by year.

In [ ]:
# your code here

Within each neighborhood find the mean of sale price.

In [ ]:
# your code here

Within each neighborhood find the mean of each of sale price, lot area, square footage, and price per sqft.

In [ ]:
# your code here

Find descriptive statistics for the sale price within each year sold.

In [ ]:
# your code here